<my-card-dir my-title="'using no transclude TITLE'" my-content="using no transclude CONTENT">
</my-card-dir>	

<my-card-transclusion-dir my-title="'using selector TITLE'">
	using selector CONTENT
</my-card-transclusion-dir>	

<my-card-transclusion-using-directive-dir my-title="'using directive TITLE'">
	using directive CONTENT
</my-card-transclusion-using-directive-dir> 

<my-card-transclusion-using-ng-transclude-dir my-title="'using ng transclude TITLE'">
	using ng transclude CONTENT
</my-card-transclusion-using-ng-transclude-dir> 

<my-card-transclusion-using-clone-dir my-title="'using clone TITLE'">
	using clone CONTENT
</my-card-transclusion-using-clone-dir> 

<my-card my-title="'Expand/Collapse'">
	Expand/Collapse Content
</my-card>

<my-element-transcluder>
    This content will disappear and reappear
</my-element-transcluder>